<div class="container mt-5 mb-3">
   <%= link_to root_path, class: 'btn btn-secondary' do %>
        <i class="fa-solid fa-house"></i>
    <% end %>

  <div class="my-4">
    <p><%= @task.title %></p>
    <p><%= @task.details %></p>
  </div>

  <%= form_with model: @task do |f|%>
    <div class="container d-inline-block">
      <%= link_to edit_task_path(@task), class: 'btn btn-primary' do %>
        <i class="fa-solid fa-pencil"></i>
      <% end %>

      <%# <%= link_to task_path(@task), data: {turbo_method: :delete, turbo_confirm: "Remove #{@task.title}?" } do %>
        <%# <i class="fa-regular fa-trash-can btn btn-danger mx-3 p-2"></i> %>
      <%# <% end %>
    </div>
  <% end %>

</div>
